flask==2.2.5
Flask-Caching==2.1.0
flask-mongoengine==1.0.0
Bcrypt-Flask==1.0.2
flask-jwt-extended==4.6.0
flask-restful==0.3.10
sendgrid==6.11.0
Werkzeug==3.0.1
openai-whisper==20231117
numpy==1.26.3